.form-wrapper {
  box-sizing: border-wrapper;
  width: min-content;
  padding: 1.5rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
